#link-home {
    color: #07A081;
    font-weight: 500;
}

.list-animal {
    margin-left: 0;
    margin-right: 0;
}

.top-search-bar {
    border-radius: 20px;
}

#search-input {
    border-radius: 20px 0 0 20px;
}

hr {
    width: 100%;
    margin: 0;
}

.cover {
    background-image: url("images/bg-cover.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
}

h1 {
    font-size: 3rem;
}

.btn-shop-now {
    background: #07A081;
}

.card-img-top {
    width: 100%;
    height: 240px;
    border-radius: 8px;
}

.div-animal {
    background-image: url("images/Rectangle\ 36.png");
    width: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-animal img {
    width: 30%;
    height: auto;
    margin: 0 10%;
}

.discount-container {
    background-image: url("images/image-vector/vector-01.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    background-size: contain;
}

.img-discount {
    display: flex;
    justify-content: end;
}

.div-img-discount {
    display: flex;
    align-items: end;
}

.btn-shop-now-2 {
    border-radius: 12px;
    background: white;
}

.btn-submit-email {
    background: #07A081;
}

.btn-shop-now-3 {
    border-radius: 12px;
    background: #07A081;
}

.social-link {
    margin-top: 15%;
    display: flex;
    justify-content: end;
}

.rating-container {
    background-image: url("images/image-vector/vector-02.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-top: 6%;
    margin-bottom: 2%;
}

.div-star {
    width: 100%;
    margin-top: 23%;
}

.div-btn-3 {
    margin-top: 28%;
}

.btn-shop-now-3 {
    width: 50%;
}

.footer {
    background: #F6F6F6;
}

.footer a,
.footer h5 {
    margin: 1% 16%;
}

.icon-store {
    margin: 2% 16%;
}

#all-right {
    margin-left: 10%;
}

#terms {
    margin-left: 35%;
}

/***Resonsive for mobile ***/
@media only screen and (max-width: 800px) {
    .col-sm-12 {
        width: 100%;
    }

    .cover h1 {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

    .card-img-top {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    p {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .img-cover {
        display: flex;
        justify-content: center;
    }

    .cover {
        background-image: none;
    }

    .div-form h3,
    .div-form form,
    .social-link {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img-discount {
        display: flex;
        justify-content: center;
        margin-bottom: -10px;
    }

    .price {
        display: flex;
        justify-content: center;
    }

    .rating-container {
        background-image: none;
        height: 50%;
        display: flex;
        align-items: centers;
    }

    .discount-container {
        height: 50%;
    }

    .btn-shop-now-2 {
        border: 2px solid #07A081;
    }

    .social-link {
        display: flex;
        justify-content: center;
        margin: 5% 0;
    }

    .img-dog-discount {
        width: 50%;
        height: auto;
        margin: 0;
    }

    #discount-price {
        font-family: 'Times New Roman';
    }

    .delivery {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .btn-shop-now-3 {
        width: 100%;
    }

    .delivery {
        margin-top: 5%;
    }

    .footer .row {
        display: flex;
        justify-content: center;
    }

    .end .row {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    #all-right,
    #terms {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}


/* Media query cho màn hình tablet */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .row {
        margin: 0;
    }

    .cover h1,
    p {
        display: flex;
        justify-content: center;
    }

    .img-cover {
        display: flex;
        justify-content: center;
    }

    .cover {
        background-image: none;
    }

    .card-img-top {
        width: 100%;
        height: 280px;
        border-radius: 8px;
    }

    .price {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .div-img-highlight {
        margin-top: 0;
    }

    .contact-email {
        margin: 0;
    }

    .social-link {
        display: flex;
        justify-content: start;
        margin: 5% 0;
    }

    .social-link img {
        width: 5%;
        height: auto;
    }

    .div-form h3 {
        font-size: 15px;
    }

    .div-img-highlight img {
        width: 50%;
        height: auto;
    }

    .rating-container {
        background-image: none;
        display: flex;
        align-items: centers;
        margin: 0;
    }

    .rating-container img {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 80%;
        padding: 0;
        margin: 0;
    }

    .delivery-container {
        display: flex;
        margin-top: 20%;
    }

    .price {
        display: flex;
        justify-content: center;
    }

    .div-img-discount {
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .div-star {
        margin-top: 5%;
    }

    .div-btn-3 {
        margin-top: 10%;
    }

    .img-discount {
        display: flex;
        justify-content: center;
    }

    .btn-shop-now-3 {
        width: 100%;
    }
}